{% extends "base.html" %}
{% load static%}
{% block title%}
    لایت باکس|خانه
{% endblock title%}
{% block content%}
<section id="hero" class="hero section">

  <div id="hero-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">
    {% for item in poster%}
      <div class="carousel-item active" style="direction: rtl;">
        <img src="{{item.image.url}}" alt="">
        <div class="carousel-container">
          <h2>{{item.title}}</h2>
          <p style="text-align: center;font-family:Arial, Helvetica, sans-serif;font-size:15pt">{{item.short_description}}</p>
          <a href="{% url item.url %}" class="btn-get-started">{{item.url_title}}</a>
        </div>
      </div>
    {% endfor %}
    <div class="carousel-item active" style="direction: rtl;">
      <img src="{% static 'assets/img/hero-carousel/hero-carousel-1.jpg' %}" alt="">
      <div class="carousel-container">
        <h2>به <span>لایت باکس </span>خوش آمدید </h2>
        <p style="text-align: center;font-family:Arial, Helvetica, sans-serif;font-size:15pt">لایت باکس یک پلتفرم یادگیری زبان به سبک جدید می‌باشد این پلتفرم با بهره‌گیری از روش‌های نوین آموزشی و فناوری‌های پیشرفته، تجربه‌ای متفاوت و جذاب از یادگیری زبان‌های مختلف را برای کاربران خود فراهم می‌کند. در لایت باکس، تاکید بر یادگیری فعال و تعاملی است، به طوری که کاربران با استفاده از تمرین‌ها و فعالیت‌های گوناگون، مهارت‌های زبانی خود را به صورت کاربردی و موثر تقویت می‌کنند.</p>
        <a href="{% url 'litner_page' %}" class="btn-get-started">ورود به اپلیکیشن</a>
      </div>
    </div>
    <a class="carousel-control-prev" href="#hero-carousel" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
    </a>

    <a class="carousel-control-next" href="#hero-carousel" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
    </a>

  </div>
{% endblock content%}


