{% extends 'base.html' %}
{% block content %}
<div>
    <center>
    <div style="width:700px">
        <div class="row" style="margin-top:100px">
            <div class="col"><a href="{% url 'category_page' %}"><button type="button" class="btn btn-outline-secondary" style="font-family:Arial, Helvetica, sans-serif;">انگلیسی</button></a></div>
            <div class="col"><a href="" class="nav-item nav-link disabled"><button type="button" class="btn btn-outline-secondary disabled" style="font-family:Arial, Helvetica, sans-serif;">فارسی</button></a></div>
            <div class="col"><a href="" class="nav-item nav-link disabled"><button type="button" class="btn btn-outline-secondary disabled" style="font-family:Arial, Helvetica, sans-serif;">عربی</button></a></div>
            <div class="col"><a href="" class="nav-item nav-link disabled"><button type="button" class="btn btn-outline-secondary disabled" style="font-family:Arial, Helvetica, sans-serif;">آلمانی</button></a></div>
        </div>
        <!-- <div class="row" style="margin-top:50px">
            <div class="col"><button type="button" class="btn btn-outline-secondary">Secondary</button></div>
            <div class="col"><button type="button" class="btn btn-outline-secondary">Secondary</button></div>
            <div class="col"><button type="button" class="btn btn-outline-secondary">Secondary</button></div>
            <div class="col"><button type="button" class="btn btn-outline-secondary">Secondary</button></div>
        </div>
        <div class="row" style="margin-top:50px">
            <div class="col"><button type="button" class="btn btn-outline-secondary">Secondary</button></div>
            <div class="col"><button type="button" class="btn btn-outline-secondary">Secondary</button></div>
            <div class="col"><button type="button" class="btn btn-outline-secondary">Secondary</button></div>
            <div class="col"><button type="button" class="btn btn-outline-secondary">Secondary</button></div>
        </div>
        <div class="row" style="margin-top:50px">
            <div class="col"><button type="button" class="btn btn-outline-secondary">Secondary</button></div>
            <div class="col"><button type="button" class="btn btn-outline-secondary">Secondary</button></div>
            <div class="col"><button type="button" class="btn btn-outline-secondary">Secondary</button></div>
            <div class="col"><button type="button" class="btn btn-outline-secondary">Secondary</button></div>
        </div>
        <div class="row" style="margin-top:50px">
            <div class="col"><button type="button" class="btn btn-outline-secondary">Secondary</button></div>
            <div class="col"><button type="button" class="btn btn-outline-secondary">Secondary</button></div>
            <div class="col"><button type="button" class="btn btn-outline-secondary">Secondary</button></div>
            <div class="col"><button type="button" class="btn btn-outline-secondary">Secondary</button></div>
        </div>
        <div class="row" style="margin-top:50px">
            <div class="col"><button type="button" class="btn btn-outline-secondary">Secondary</button></div>
            <div class="col"><button type="button" class="btn btn-outline-secondary">Secondary</button></div>
            <div class="col"><button type="button" class="btn btn-outline-secondary">Secondary</button></div>
            <div class="col"><button type="button" class="btn btn-outline-secondary">Secondary</button></div>
        </div> -->
    </div>
    </center>
</div>
{% endblock content %}