{% extends 'litner_page2.html'%}
{% block nav%}
<nav style="height:180px">
    <a href="{% url 'home_page'%}"><button class="btn btn-outline-dark" style="margin-top:20px;margin-left:20px;float:left">برگشت به سایت</button></a>
    <a href="{% url 'litner_page'%}"><button class="btn btn-outline-dark" style="margin-top:20px;margin-left:20px;float:left">برگشت به قبل</button></a>
</nav>
{% endblock nav%}
{% block content %}
<div>
    <center>
        {% for i in words %}
        <div id="accesspanel" style="opacity:0.9;background: #111;border: 1px solid #191919;border-radius: .4em;bottom: 0;box-shadow: 0 5px 10px 5px rgba(0,0,0,0.2);height: 280px;left: 0;margin: auto;overflow: hidden;position: absolute;right: 0;top: 0;width: 300px;">
            <div style="height:40px;">
                <h2 style="color:black;margin-top:60px;background-color:rgba(240, 248, 255, 0.5);width:200px;height:50px;font-size:25pt;border-radius:10px">{{i.word}}</h2>
                <!-- <a href="{% url 'litner_page'%}"><button class="btn btn-outline-light" style="margin-top:20px;margin-left:102px;float:left;width:150px">دیدن پاسخ</button></a> -->
                <!-- <h5 style="color:black;margin-top:30px;background-color:rgba(240, 248, 255, 0.5);width:100px;height:30px;font-size:15pt;border-radius:10px"></h5> -->

            </div>
            <p class="p-container" style="text-align: center;margin-top:50px">
                <a href="{% url 'wrong_ans' i.id%}"><button class="btn btn-danger" style="margin-top:20px;margin-left:20px;float:left;width:100px">غلط</button></a>
                <a href="{% url 'correct_ans' i.id%}"><button class="btn btn-success" style="margin-top:20px;margin-left:20px;float:left;width:100px">درست</button></a>
            </p>
        </div>
        {% endfor %}
    </center>
</div>
{% endblock content %}