{% extends 'litner_page.html'%}
{% block nav%}
<nav style="height:180px">
    <a href="{% url 'home_page'%}"><button class="btn btn-outline-dark" style="margin-top:20px;margin-left:20px;float:left">برگشت به سایت</button></a>
    <a href="{% url 'litner_page'%}"><button class="btn btn-outline-dark" style="margin-top:20px;margin-left:20px;float:left">برگشت به قبل</button></a>
</nav>
{% endblock nav%}
{% block content %}
<div>
    <center>
        {% for i in words %}
        <div style="width:350px;height:350px;background-color:rgba(0, 0, 0, 0.76);border-radius:20px">
            <div style="padding-top:10px">
                <h1 style="font-family: Arial, Helvetica, sans-serif;color:whitesmoke">مرورلغات</h1>
            </div>
            <div style="height:40px">
                <h2 style="color:black;margin-top:60px;background-color:rgba(240, 248, 255, 0.5);width:200px;height:50px;font-size:25pt;border-radius:10px">{{i.word}}</h2>
                <!-- <a href="{% url 'litner_page'%}"><button class="btn btn-outline-light" style="margin-top:20px;margin-left:102px;float:left;width:150px">دیدن پاسخ</button></a> -->
                <!-- <h5 style="color:black;margin-top:30px;background-color:rgba(240, 248, 255, 0.5);width:100px;height:30px;font-size:15pt;border-radius:10px"></h5> -->

            </div>
            <div style="margin-top:80px;">
                <a href="{% url 'wrong_ans' i.id%}"><button class="btn btn-danger" style="margin-top:20px;margin-left:45px;float:left;width:120px">غلط</button></a>
                <a href="{% url 'correct_ans' i.id%}"><button class="btn btn-success" style="margin-top:20px;margin-left:20px;float:left;width:120px">درست</button></a>
            </div>
        </div>
        {% endfor %}
    </center>
</div>
{% endblock content %}